<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Weekly job</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-dark">

    <div class="container-fluid">
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h1>room number</h1>
        </div>
        <div class="col bg-dark text-center text-light border">
            <h1>Job this week</h1>
        </div>
      </div>
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h3>31</h3>
        </div>
        <div class="col bg-dark text-center text-light border">
          <h3><%= room31 %></h3>
        </div>
      </div>
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h3>33</h3>
        </div>
        <div class="col bg-dark text-center text-light border">
          <h3><%= room33 %></h3>
        </div>
      </div>
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h3>34</h3>
        </div>
        <div class="col bg-dark text-center text-light border">
          <h3><%= room34 %></h3>
        </div>
      </div>
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h3>35</h3>
        </div>
        <div class="col bg-dark text-center text-light border">
          <h3><%= room35 %></h3>
        </div>
      </div>
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h3>36</h3>
        </div>
        <div class="col bg-dark text-center text-light border">
          <h3><%= room36 %></h3>
        </div>
      </div>
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h3>37</h3>
        </div>
        <div class="col bg-dark text-center text-light border">
          <h3><%= room37 %></h3>
        </div>
      </div>
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h3>38</h3>
        </div>
        <div class="col bg-dark text-center text-light border">
          <h3><%= room38 %></h3>
        </div>
      </div>
      <div class="row px-1">
        <div class="col bg-dark text-center text-light border">
            <h3>39</h3>
        </div>
        <div class="col bg-dark text-center text-light border">
            <h3><%= room39 %></h3>
        </div>
      </div>
      
    </div>

    
  </body>
</html>
